"*":
  "atom-beautify":
    js: {}
    jsx: {}
  core:
    customFileTypes:
      "source.coffee": [
        "cjsx"
      ]
      "source.coffeescript": [
        "cjsx"
      ]
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "nuclide"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
  "exception-reporting":
    userId: "11222f94-3495-41f7-85f3-b3f10e864731"
  nuclide:
    "nuclide-flow":
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
".editorconfig.source":
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
