"*":
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": "never"
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "622db574-e76e-4d59-a885-21fb7d15d0f9"
  "linter-ui-default":
    panelHeight: 71
    showPanel: true
  welcome:
    showOnStartup: false
